In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
pd.set_option('display.max_columns', None)
%matplotlib inline

In [ ]:
attack_file = pd.read_csv('attacks.csv', encoding= "ISO-8859-1")
f = attack_file.copy()
orig_shape = attack_file.shape

In [ ]:
f.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
#f[f['Unnamed: 22'].notna() == True]
#f[f['Unnamed: 23'].notna() == True]
# Going to drop these columns since they are practically empty and have no real meaning
#f.drop(columns=['Unnamed: 22','Unnamed: 23'], axis=1,inplace=True)

In [ ]:
f.shape

(25723, 24)

In [ ]:
# Clean up column names

strip_dict = {}
for i,j in enumerate(f.columns):
    strip_dict[j] = j.strip()

f.rename(columns= strip_dict,inplace = True)

In [ ]:
# identify high NaN lines and replace useless column
nun_nan = []

for fila in f.itertuples():
    
    check=[]
    
    for e in fila:
        
        check.append(pd.isna(e))
        
    nun_nan.append(sum(check))
f['Unnamed: 22'] = nun_nan
f.rename(columns={'Unnamed: 22':'NaN Columns'},inplace=True)

In [ ]:
#identify nulls
nullity = pd.DataFrame([f.notna().sum(), f.isnull().sum()], ['Not Nulls','Nulls']).T
nullity.sort_values(by='Nulls',inplace=True)
nullity

                        Not Nulls  Nulls
NaN Columns                 25723      0
Case Number                  8702  17021
original order               6309  19414
Date                         6302  19421
Case Number.2                6302  19421
Case Number.1                6302  19421
href                         6302  19421
pdf                          6302  19421
href formula                 6301  19422
Year                         6300  19423
Type                         6298  19425
Investigator or Source       6285  19438
Injury                       6274  19449
Country                      6252  19471
Name                         6092  19631
Area                         5847  19876
Fatal (Y/N)                  5763  19960
Location                     5762  19961
Activity                     5758  19965
Sex                          5737  19986
Age                          3471  22252
Species                      3464  22259
Time                         2948  22775
Unnamed: 23                     2  25721

In [ ]:
# eliminate NaN >10 rows
f.drop(index = f[f['NaN Columns']>10].index, inplace=True)
f.shape

(6302, 24)

In [ ]:
# Identify strange years
f[['Year','Date','Time','Case Number']][f['Year'].isna()]
f[['Year','Date','Time','Case Number']][f['Year']<1500]

       Year            Date Time Case Number
6174  500.0  Circa 500 A.D.  NaN  0500.00.00
6175   77.0        77  A.D.  NaN  0077.00.00
6176    5.0      Ca. 5 A.D.  NaN  0005.00.00
6177    0.0    Ca. 214 B.C.  NaN      0.0214
6178    0.0   Ca. 336.B.C..  NaN      0.0336
...     ...             ...  ...         ...
6297    0.0     Before 1903  NaN     ND.0005
6298    0.0     Before 1903  NaN     ND.0004
6299    0.0       1900-1905  NaN     ND.0003
6300    0.0       1883-1889  NaN     ND.0002
6301    0.0       1845-1853  NaN     ND.0001

[128 rows x 4 columns]

In [ ]:
#replace NaNs with correct digit
f.at[187,'Year'] = 2017
f.at[6079,'Year'] = 1836
print(f.iloc[187]['Year'],f.iloc[6079]['Year'])

#remove Non-well-defined years and unreliable
f.drop(index = f[f['Year']<1500].index,inplace = True)
print(f[['Year','Date','Time','Case Number']][(f['Year']<1500) | f['Year'].isna()])

2017.0 1836.0
Empty DataFrame
Columns: [Year, Date, Time, Case Number]
Index: []

In [ ]:
#Explore Case Number
f[f['Case Number'].isna()] # 1 Nan that can be fixed
bad_index = f.index[f['Case Number'].isna()][0]
f.at[bad_index,'Case Number'] = '1905.09.05.R'

# find bad values
non_standard = []

for fila in f['Case Number']:
    try:
        nothing = re.findall('\d{4}.\d{2}.\d{2}',fila)[0]
    except:
        non_standard.append(fila,)

len(non_standard) # only 1 value

# correct bad case number index
bad_index = f['Case Number'].index[f['Case Number'] == non_standard[0]][0]
f.at[ bad_index , 'Case Number' ] = '1864.05.00'

In [ ]:
# New date columns based on Case number
dates = []
for fila in f['Case Number']:
    dates.append(re.findall('(\d{4}).(\d{2}).(\d{2})?(.*)',fila))
new_years = []
new_months = []
new_days = []
extra = []

for date in dates:
    new_years.append(date[0][0])
    new_months.append(date[0][1])
    new_days.append(date[0][2])
    extra.append(date[0][3])


f['New Year'] = new_years
f['New Month'] = new_months
f['New Day'] = new_days
f['Notes'] = extra
f['DateConc'] = f['New Year'] + '-' + f['New Month'] + '-'+ f['New Day']

In [ ]:
# Notes - Reporteds
f['Reported'] = np.where(f['Notes'].str.contains('R'),'Y','N')
f.shape

(6174, 30)

In [ ]:
# Check for duplicates
f.duplicated().sum() == 0 # True, so now we can duplicate rows with several cases
f['Many'] = 0

g = pd.concat([f,f[f['Notes'] =='.a & b'],f[f['Notes'] =='.R.a & b']]) # Concatenate those which are duped within the row
g.reset_index(inplace=True,drop=True) #reset the index

# Count duplicates sequentially to identify separate cases
for i in range(len(g)):
    g.at[ i , 'Many' ] = g['DateConc'][(g['DateConc'].duplicated() == True) & (g.index <= i) & (g['DateConc'] == g['DateConc'][i])].count()+1

In [ ]:
# find anomalies
g['New Month'].unique() # month = 94?
g['New Month'] = g['New Month'].replace('94','04')
g['New Day'].unique() # day = 38?
g['New Day'] = g['New Day'].replace('38','28')

In [ ]:
# New case number is cleaner and identifies cases in same day
g['Case Number'] = g['New Year'] + '.' + g['New Month'] + '.' + g['New Day'] + ', ' + g['Many'].astype(str)

In [ ]:

g.loc[(g['New Day'] != '00'),'Approx Day'] = g['New Day']
g.loc[(g['New Day'] == '00'),'Approx Day'] = '01'
g.loc[(g['New Month'] != '00'),'Approx Month'] = g['New Month']
g.loc[(g['New Month'] == '00'),'Approx Month'] = '01'
# Create new date Column
g['Date Approx'] = pd.to_datetime(g['Approx Day'] +'-'+g['Approx Month']+'-'+g['New Year'], infer_datetime_format=True,errors='coerce')
g.drop(g[g['Date Approx'].isna()].index,inplace=True) # Remove really low dates that pandas doesnt accept
g.shape

(6166, 34)

In [ ]:
g[g['New Month'] == '00'].count() # 391 entries don't have a definite month and values range wildly, so will delete
g.drop(g[g['New Month'] == '00'].index,inplace=True)
g.shape
g[g['New Day'] == '00'].count() #346 entries but could still be useful

Case Number               346
Date                      346
Year                      346
Type                      346
Country                   339
Area                      294
Location                  280
Activity                  297
Name                      320
Sex                       278
Age                        88
Injury                    343
Fatal (Y/N)               313
Time                       48
Species                   168
Investigator or Source    345
pdf                       346
href formula              346
href                      346
Case Number.1             346
Case Number.2             346
original order            346
NaN Columns               346
Unnamed: 23                 0
New Year                  346
New Month                 346
New Day                   346
Notes                     346
DateConc                  346
Reported                  346
Many                      346
Approx Day                346
Approx Month              346
Date Approx               346
dtype: int64

In [ ]:
for i in g.Year:
    try:
        i = int(i)
    except:
        print(i)

In [ ]:
g.to_csv('progress.csv')